*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Courier New', Courier, monospace;
}
header{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(student.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.wrapper{
    width: 100%;
    margin: auto;
}
.menu{
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-right: 10px;
}
.menu li{
    display: inline-block;
}
.menu li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    text-transform:uppercase ;
    font-weight: bold;
    font-size: 18px;
    
}
.menu li a:hover{
    background: #fff;
    color: #333;
    border-radius: 10px;

}
.logo{
    float: left;
    margin-top: 25px;
    margin-left: 10px;
    color: #2500f5;
    font-size :2.0em; 
    text-transform: uppercase;
    font-weight: bold;
}
.text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
    top: 0%;  
}
.text h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 10px;

}
.text h2{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 10px;

}
.text a{
    background: orange;
    border-radius: 10px;
    padding: 10px 25px;
    text-decoration: none;
    font-weight:bold;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 20px;
    display: inline-block;
    color:#fff;
}
.text a:hover{
    background: #fff;
    color:#333;
}
.text p{
    color: #fff;
    font-size: 12px;  
}

/* search bar  */
.search-container {
    position: relative;
    display: inline-block;
    text-align: center;
    top: 15%;
    left: -15%;
  }
  
  .search-container input[type="text"] {
    width: 150%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 16px;
  }
  
  .search-container ul {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 150%;
    max-height: 200px;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
    z-index: 1;
    display: none;
  }
  
  .search-container li {
    padding: 12px 20px;
    cursor: pointer;
  }
  
  .search-container li:hover {
    background-color: #f2f2f2;
  }
  
  .search-container input[type="text"]:focus + ul {
    display: block;
  }
  
  /* footer element */
  footer{
    text-align: center;
    padding: 3px;
    background-color: #333;
    color: #ddd;
  }
  footer a{
    color:rgb(217, 223, 223);
  }
/* for half screen laptop */
@media (max-width:991px){
    .logo{
        font-size: 35px;
        width: 55%;
        margin: auto;
        margin-bottom: 8px;
        float: none;
        color: rgb(255, 0, 0);
            }
        .menu{
            float: none;
            margin-top: ;
            text-align: center;
        }
        .text{
            width: 100%;
            height: 10%;
            left: -30%;
            top: 10%;
        }
        .text h1{
            font-size: 30px;
            margin-bottom: 10px;
        }
        .text h2{
            font-size: 27px;
            margin-bottom: 5px;
        }
        .text p{
            font-size: 20px;
            margin-bottom: 5px;  
        }
        .search-container{
            top: 4%;
            right:-5% ;
        }
        .search-container input[type="text"] {
            width: 100%;
        }
        .search-container ul{
            width: 100%;
            
        }
        .text a{
            font-size: 20px;
        }
        footer{
            font-size: 22px;
        }
    
        }
  /* for tab */
@media (max-width:768px){
    .logo{
    font-size: 35px;
    width: 55%;
    margin: auto;
    margin-bottom: 8px;
    float: none;
    color: chartreuse;
        }
    .menu{
        float: none;
        margin-top: ;
        text-align: center;
    }
    .text{
        width: 100%;
        height: 10%;
        left: -30%;
        top: 20%;
    }
    .text h1{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .text h2{
        font-size: 27px;
        margin-bottom: 5px;
    }
    .text p{
        font-size: 20px;
        margin-bottom: 5px;  
    }
    .search-container{
        top: 4%;
        right:-5% ;
    }
    .search-container input[type="text"] {
        width: 100%;
    }
    .search-container ul{
        width: 100%;
        
    }
    .text a{
        font-size: 20px;
    }
    footer{
        font-size: 22px;
    }

    }
  /* for phone  */
@media (max-width:598px) {
    .logo{
        float: left;
        width: 100%;
        text-align: center;
        margin: auto;
        margin-bottom: 8px;
        font-size: 35px;  color: aqua; 
    }
    .menu{
        float:none;
        margin-top: 0;
        text-align: center;
    }
    .menu li a{
        padding: 5px;
        font-size: 18px;
    }
    .text{
        width: 100%;
        height: 1%;
        margin: 30% 0;
        top: 20%;
        left: 0%;
    }
    .text h1{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .text h2{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .text p{
        font-size: 14px;
        margin-bottom: 5px;  
    }
    .search-container{
        top: 4%;
        left: -0%;
    }
    .search-container input[type="text"] {
        width: 80%;
    }
    .search-container ul{
        width: 80%;
        
    }
    .text a{
        font-size: 16px;
    }
    footer{
        font-size: 15px;
    }
}
/* loading animation */
#loader {
  position: absolute;
  left: 45%;
  top: 40%;
  z-index: 1;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid blue;
  border-right: 14px solid green;
  border-bottom: 14px solid red;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
    